<!DOCTYPE html>
<html>
    <head>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore.js"></script>
<script type="text/javascript" src="http://documentcloud.github.com/backbone/backbone.js"></script>

<script>
    $(document).bind("mobileinit", function(){
        $.mobile.page.prototype.options.backBtnText = "Назад";
    });
    $(function(){
        $('#vnukovo').live('pagecreate', function(ev){$('input[placeholder^="Filter"]').attr('placeholder', 'Фильтровать результат ...');});
        function switch_flights(target){
            if ( target === "radio-arrival" ){
                $(".Arrival").show();
                $(".Departure").hide();
            }
            else {
                $(".Arrival").hide();
                $(".Departure").show();
            }
        };

        $("input[name=radio-flight-type]").bind("change", function(ev){
            var target = ev.target.id;
            switch_flights(target);
        });

        Flight = Backbone.Model.extend();
        FlightList = Backbone.Collection.extend({
            model: Flight,
            url: '/api/flights.json'
        });

        Flights = new FlightList;

        FlightView = Backbone.View.extend({
            tagName: "li",
            template: _.template($('#item-template').html()),
            
            initialize: function(){
                _.bindAll(this, 'render');
                this.model.bind('change', this.render);
                this.model.view = this;
            },

            render: function(){
                $(this.el).html(this.template(this.model.toJSON()));
                var flight_type;
                if (this.model.get('flight_type')) flight_type = 'Departure';
                else flight_type = 'Arrival';
                $(this.el).attr({
                    'role': 'option',
                    'class': flight_type + ' ui-li ui-li-static ui-btn-up-d'
                });
                return this;
            }
        });

        FlightsView = Backbone.View.extend({
            el: $("#flights"),

            initialize: function(){
                _.bindAll(this, 'addOne', 'addAll');
                Flights.bind('add', this.addOne);
                Flights.bind('refresh', this.addAll);
                Flights.fetch();
            },
            
            addOne: function(flight){
                var view = new FlightView({model: flight});
                this.$("#flight-list").append(view.render().el);
            },

            addAll: function(){
                var onload_flight_type = $("input[name=radio-flight-type]:not(:checked)").attr('id');
                Flights.each(this.addOne);
                this.switchVis(onload_flight_type);
            },

            switchVis: function(target){
                if ( target === "radio-arrival" ){
                     $(".Arrival").show();
                    $(".Departure").hide();
                }
                else {
                    $(".Arrival").hide();
                    $(".Departure").show();
                }
            }
        });
        flights = new FlightsView;
    });
</script>
<script type="text/template" id="item-template">
    <div class="ui-btn-inner">
        <div class="ui-btn-text"> 
            <div class="flight">
                <h3>
                    <%= flight %> 
                </h3>
            </div>
            <div class="fl-content">
                <p >
                    <%= airline %>
                </p>
                <p>
                    <%= airport_of_departure %>  --&gt;  <%= airport_of_arrival %>
                </p>
            </div>
            <div class="flight-status">
                <p>
                    <%= flight_status %>
                </p>
            </div>
            <div class="datetime">
                <p>
                    Запланирован: <%= datetime_scheduled %></br>
                </p>
                <p>
                    Ожидается: <%= datetime_estimated %></br>
                </p>
                <p>
                    Фактически: <%= datetime_actual %>
                </p>
            </div>
        </div>
    </div>
</script>
<script src="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css" />
<style type="text/css">
    html {
        height: 100%;
    }
    body {
        margin: 0;
        padding: 0;
        height: 100%;
    }
    .landscape, .landscape .ui-page, .portrait, .portrait .ui-page {
        min-height: 100%;
    }
</style>
<style type="text/css">
    .flight {
        font-size: x-large;
    }
    .flight, .fl-content{
        float: left;
        display: block;
        margin-right: 10px;
    }
    .datetime, .fl-content{
        font-size: x-small;
    }
    .flight-status, .datetime {
        float: right;
        display: block;
        margin-left: 20px;
    }

</style>
        <title>Vnukovo Flights</title>
    </head>
    <body>
        <div data-role="page" id="main_page">
            <div data-role="header">
                <h1>Рейсы</h1>
            </div>
            <div data-role="content" data-theme="c">
                <ul data-role="listview" data-inset="true">
                    <li><a href="#vnukovo">Внуково</a></li>
                </ul>
            </div>
            <!--
            <div data-role="footer" data-position="fixed">
                <p></p>
            </div>
            -->
        </div>

        <div data-role="page" id="vnukovo">
            <div data-role="header">
                <h1>Внуковские рейсы</h1>
            </div>
            <div data-role="content" data-theme="c">
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup" data-type="horizontal">
                                <input type="radio" name="radio-flight-type" id="radio-arrival" value="0" checked="checked" />
                                <label for="radio-arrival">Прилет</label>
                                <input type="radio" name="radio-flight-type" id="radio-departure" value="1" />
                                <label for="radio-departure">Вылет</label>
                    </fieldset>
                </div>
                <div id="flights">
                <ul id="flight-list" data-role="listview" role="listbox" data-inset="true" data-filter="true" data-theme="d">
                </ul>
                </div>
            </div>
            <!--
            <div data-role="footer" data-position="fixed">
                <p></p>
            </div>
            -->
        </div>

        <div data-role="page" id="flight_details">
            <div data-role="content">
                    {% for name, value in flight.get_fields %}
                        <p>{{ name }}: {{ value|default:"-" }}</p>
                    {% endfor %}
            </div>
        </div>

    </body>
</html>
