<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4/jquery.mobile-1.0a4.min.css" />
        <script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
        <script src="{{ STATIC_URL }}javascript/underscore.js"></script>
        <script src="{{ STATIC_URL }}javascript/backbone.js"></script>
        <script src="{{ STATIC_URL }}javascript/app.js"></script>
        <script src="http://code.jquery.com/mobile/1.0a4/jquery.mobile-1.0a4.min.js"></script>
        <script type="text/template" id="item-template">
            <div class="ui-btn-inner">
            <div class="ui-btn-text"> 
                <div class="flight">
                    <h3>
                        <%= flight %> 
                    </h3>
                </div>
                <div class="fl-content">
                    <p >
                        <%= airline %>
                    </p>
                    <p>
                        <%= airport_of_departure %>  --&gt;  <%= airport_of_arrival %>
                    </p>
                </div>
                <div class="flight-status">
                    <p>
                        <%= flight_status %>
                    </p>
                </div>
                <div class="datetime">
                    <p>
                        Запланирован: <%= datetime_scheduled %></br>
                    </p>
                    <p>
                        Ожидается: <%= datetime_estimated %></br>
                    </p>
                    <p>
                        Фактически: <%= datetime_actual %>
                    </p>
                </div>
            </div>
            </div>
        </script>
<!--
<style type="text/css">
    html {
        height: 100%;
    }
    body {
        margin: 0;
        padding: 0;
        height: 100%;
    }
    .landscape, .landscape .ui-page, .portrait, .portrait .ui-page {
        min-height: 100%;
    }
</style>
<style type="text/css">
    .flight {
        font-size: x-large;
    }
    .flight, .fl-content{
        float: left;
        display: block;
        margin-right: 10px;
    }
    .datetime, .fl-content{
        font-size: x-small;
    }
    .flight-status, .datetime {
        float: right;
        display: block;
        margin-left: 20px;
    }

</style>
-->
        <title>Vnukovo Flights</title>
    </head>
    <body>
        <div data-role="page" id="main_page">
            <div data-role="header">
                <h1>Рейсы</h1>
            </div>
            <div data-role="content" data-theme="c">
                <ul data-role="listview" data-inset="true">
                    <li><a href="#vnukovo">Внуково</a></li>
                </ul>
            </div>
            <!--
            <div data-role="footer" data-position="fixed">
                <p></p>
            </div>
            -->
        </div>

        <div data-role="page" id="vnukovo">
            <div data-role="header">
                <h1>Внуковские рейсы</h1>
            </div>
            <div data-role="content" data-theme="c">
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup" data-type="horizontal">
                                <input type="radio" name="radio-flight-type" id="radio-arrival" value="0" checked="checked" />
                                <label for="radio-arrival">Прилет</label>
                                <input type="radio" name="radio-flight-type" id="radio-departure" value="1" />
                                <label for="radio-departure">Вылет</label>
                    </fieldset>
                </div>
                <div id="flights">
                <ul id="flight-list" data-role="listview" role="listbox" data-inset="true" data-filter="true" data-theme="d">
                </ul>
                </div>
            </div>
            <!--
            <div data-role="footer" data-position="fixed">
                <p></p>
            </div>
            -->
        </div>

        <div data-role="page" id="flight_details">
            <div data-role="content">
                    {% for name, value in flight.get_fields %}
                        <p>{{ name }}: {{ value|default:"-" }}</p>
                    {% endfor %}
            </div>
        </div>

    </body>
</html>
