<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">


  <!-- CSS: implied media="all" -->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/datatable.css"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/apprise.min.css"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.8.12.custom.css"/>

  <!-- Uncomment if you are specifically targeting less enabled mobile browsers
  <link rel="stylesheet" media="handheld" href="css/handheld.css?v=2">  -->

  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="{{ STATIC_URL }}js/libs/modernizr-1.7.min.js"></script>

</head>

<body>

  <div id="container">
    <header id="mainHeader">
        <h1 class="hidden">vilet.info - инструмент путешественника</h1>
        <div id="topHeaderPanel">
                <form id="login" method="">
                    <button type="button" class="notImplemented headerButton">Войти в личный кабинет</button>
                    <button type="button" class="notImplemented headerButton">Регистрация</button>
                </form>
                <form id="searchSiteBox" method="post">
                    <input type="text" placeholder="Поиск по сайту" />
                    <button type="button" class=" notImplemented headerButton" ">Поиск</button>
                </form>
        </div>
        <div id="bottomHeaderPanel">
            <div id="logo">
                <p class="slogan">Инструмент путешественника</p>
            </div>
            <div id="quote">
                <p class="headerQuoteL1">Самое длинное путешествие</p>
                <p class="headerQuoteL2">начинается с одного</p>
                <p class="headerQuoteL3">неверного шага</p>
            </div>
            <div id="headerDate">

            </div>
        </div>
        <div id="headerBanner">
            
        </div>
    </header>

    <section id="middle">
        <div id="middleContainer">
            <div id="content">

                <h1 class="hidden">Табло рейсов</h1>
                <div id="clocks">
                    <div id="MoscowClk">
                        <p>Москва</p>
                        <canvas id="clockMos" class="CoolClock:classic:40:noSeconds:"></canvas>
                    </div>
                    <div id="CityClk">
                        <p>.</p>
                        <canvas id="clockCity" class="CoolClock:classic:40:noSeconds:"></canvas>
                    </div>
                </div>
                <div id="searchFlightBox">
                    <form class="button">
                        <div class="lineSearchFlightBox">
                            <label for="flight">Рейс:</label>
                            <input type="text" name="flight">
                            <label for="flight_from">Откуда:</label>
                            <input type="text" name="flight_from">
                        </div>
                        <div class="lineSearchFlightBox">
                            <label for="flight_date">Дата вылета:</label>
                            <input type="text" name="flight_date">
                            <label for="flight_to">Куда:</label>
                            <input type="text" name="flight_to">
                        </div>
                        <!--<div id="searchBtnContainer">-->
                        <span class="blue search button">
                        <span id="searchFlightBtn" class="magni"></span>
                        </span>
                        <!--</div>-->
                    </form>
                </div>
                <div id="timetableContainer">
                    <table id="timetable" class="display">
                        <thead>
                            <tr>
                                <th>Рейс</th>
                                <th>Авиакомпания</th>
                                <th>Вылет</th>
                                <th>Прилет</th>
                                <th>Статус</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div id="timetableDescription">
                    <p>
                    Вы можете получать оперативную информацию о любом рейсе на мобильный телефон
					или на электронную почту. Для подписки на услугу нажмите знак <img src="{{ STATIC_URL }}img/smsicon.jpg"/> интересующего вас рейса.
					Если рейс еще не появился в табло, вы можете использовать услугу <a href="">предварительной подписки.</a>
                    </p>
                </div>

            </div>
        </div>
        <div id="leftSideBar">
            <nav id="mainNav">
                <h1 class="hidden">Разделы сайта</h1>
                <ul id="mainMenu">
                    <li><a class="notImplemented menu blue2 button" href="#">Новости</a></li>
                    <li><a class="notImplemented menu  blue3 button" href="#">Аэропорты</a></li>
                    <li><a class="notImplemented menu blue button" href="#">Авиакомпании</a></li>
                    <li><a class="notImplemented menu orange button" href="#">Заметки бывалых</a></li>
                    <li><a class="notImplemented menu green button" href="#">Юридическая помощь путешественникам</a></li>
                    <li><a class="notImplemented menu blue button" href="#">Терминологический словарь</a></li>
                    <li><a class="notImplemented menu blue3 button" href="#">Разное</a></li>
                </ul>
            </nav>
            <section id="fotogallery">
                <h1>Фотогалерея</h1>
            </section>
        </div>
        
        <div id="rightSideBar">
            <strong>Right Sidebar:</strong> Integer velit. Vestibulum nisi nunc, accumsan ut, vehicula sit amet, porta a, mi. Nam nisl tellus, placerat eget, posuere eget, egestas eget, dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In elementum urna a eros. Integer iaculis. Maecenas vel elit.
        </div>
    </section>

   

  </div> <!--! end of #container -->
<footer id="footer">
        <div id="bottomBanner">

        </div>
        <div id="footerNavDiv">
            <nav id="footerNav">
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Табло рейсов</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Аэропорты</a></li>
                    <li><a href="#">Авиакомпании</a></li>
                    <li><a href="#">Заметки бывалых</a></li>
                    <li><a href="#">Юридическая помощь пассажирам</a></li>
                    <li><a href="#">Терминологический словарь</a></li>
                    <li><a href="#">Фотогаллерея</a></li>
                    <li><a href="#">Контактная информация</a></li>

                </ul>
            </nav>
        </div>
    <!--<strong>Right Sidebar:</strong> Integer velit. Vestibulum nisi nunc, accumsan ut, vehicula sit amet, porta a, mi. Nam nisl tellus, placerat eget, posuere eget, egestas eget, dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In elementum urna a eros. Integer iaculis. Maecenas vel elit.-->

    </footer>

  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
  <script>window.jQuery || document.write("<script src='{{ STATIC_URL }}js/libs/jquery-1.5.1.min.js'>\x3C/script>")</script>


  <!-- scripts concatenated and minified via ant build script-->
  <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery-ui-1.8.12.custom.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.ui.datepicker-ru.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/libs/underscore.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/libs/dataTables.fnReloadAjax.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/libs/apprise-1.5.min.js"></script>
  <!--[if IE]><script type="text/javascript" src="{{ STATIC_URL }}js/libs/excanvas.js"></script><![endif]-->
  <script type="text/javascript" src="{{ STATIC_URL }}js/libs/coolclock.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/libs/moreskins.js"></script>
  <script src="{{ STATIC_URL }}js/plugins.js"></script>
  <script src="{{ STATIC_URL }}js/script.js"></script>

  <!-- end scripts-->


  <!--[if lt IE 7 ]>
    <script src="{{ STATIC_URL }}js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix("img, .png_bg"); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->


  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
  <script>
    var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
  </script>

</body>
</html>